@use '../../../assets/styles/style.scss' as *;

.split-view {
  position: relative;
  height: 100%;
  width: 100%;
  display: grid;
  width: 100%;
  grid-template-columns: 1fr 1fr;
  gap: 32px;
  padding: 24px;

  &.center {
    .col2 {
      position: relative;
      top: 50%;
      transform: translateY(-50%);
    }
  }

  .col2 {
    height: fit-content;

    &__title {
      font-weight: 600;
      font-size: 36px;
      line-height: 40px;
      color: $primary-light;
      margin-bottom: 16px;
    }

    p {
      color: $main-50;
      font-size: 18px;
      line-height: 26px;
      font-weight: 400;
      margin-bottom: 16px;

      max-width: 480px;
    }

    &__actions {
      button {
        font-size: 16px;
        font-weight: 600;
        line-height: 22px;
      }
    }
  }
}

@media (max-width: ($breakpoint-md + 200px)) {
  .split-view {
    display: flex;
    flex-direction: column-reverse;

    &.center {
      .col2 {
        padding-top: 0 !important;
        transform: translateY(0);
      }
    }
  }
}

@media (max-width: ($breakpoint-sm + 37px)) {
  .split-view {
    padding-left: 0;
    padding-right: 0;
  }
}

@media (max-width: ($breakpoint-md)) {
  .split-view {
    .col2 {
      &__title {
        font-size: 24px;
        line-height: 32px;
      }

      p {
        font-size: 16px;
        line-height: 22px;
      }

      &__action {
        button {
          font-size: 16px;
        }
      }
    }
  }
}
