@use '../../../assets/styles/style.scss' as *;

.split-view {
  position: relative;
  height: 100%;
  width: 100%;
  display: grid;
  width: 100%;
  grid-template-columns: 1fr 1fr;
  gap: 32px;
  padding: 24px;
  margin-top: 40px;

  &.center {
    .col2 {
      position: relative;
      top: 50%;
      transform: translateY(-25%);
    }
  }

  .col2 {
    &__title {
      font-weight: 600;
      font-size: 36px;
      line-height: 40px;
      color: $primary-light;
      margin-bottom: 16px;
    }

    p {
      color: $main-50;
      font-size: 18px;
      line-height: 26px;
      font-weight: 400;
      margin-bottom: 16px;

      max-width: 480px;
    }

    &__actions {
      button {
        font-size: 16px;
        font-weight: 600;
        line-height: 22px;
      }
    }
  }
}

// @media (max-width: ($breakpoint-md + 400px)) {
//   .split-view {
//     grid-template-columns: 0.5fr 1fr;
//   }
// }

@media (max-width: ($breakpoint-md + 300px)) {
  .split-view {
    display: flex;
    flex-direction: column-reverse;
  }
}

@media (max-width: ($breakpoint-sm + 37px)) {
  .split-view {
    padding: 0;
  }
}
