@use '../../../assets/styles/style.scss' as *;

.info-block {
  &__icon {
    svg {
      width: 48px;
      height: 48px;
    }

    margin-bottom: 16px;
  }

  &__title {
    font-size: 16px;
    font-weight: 600;
    line-height: 22px;
    color: $primary-50;
  }

  &__tag {
    margin-top: 12px;
    margin-bottom: 16px;
  }

  &__description {
    font-size: 14px;
    line-height: 18px;
    font-weight: 400;
    color: $gray-500;
    margin-top: 8px;
  }
}
