@use '../../../assets/styles/style.scss' as *;

.routing-tasks {
  box-shadow: 0px 2px 8px 0px #00000014;
  background-color: $bg-50;
  border: 1px solid $white-50;
  display: flex;
  align-items: center;
  gap: 8px;
  border-radius: 8px;
  padding: 14px 16px;

  &__icon {
    .MuiAvatar-root {
      h2 {
        font-size: 14px;
        font-weight: 600;
        line-height: 16px;
      }
    }
  }

  &__content {
    h2 {
      font-size: 16px;
      font-weight: 500;
    }

    p {
      font-weight: 400;
      font-size: 14px;
      line-height: 18px;
      color: $main-50;
    }
  }
}
