@use '../../../assets/styles/style.scss' as *;

.page-header {
  max-width: 800px;
  margin-top: 40px;

  h1 {
    font-size: 3.5rem;
    font-weight: 600;
    line-height: 60px;
    text-align: center;
  }

  p {
    font-size: 1rem;
    line-height: 22px;
    color: $primary;
    text-align: center;
    font-weight: 400;
    margin-top: 24px;
    color: #3b4146;
  }
}

@media (max-width: ($breakpoint-md + 200px)) {
  .page-header {
    padding: 0 80px;
    h1 {
      font-size: 2rem !important;
      line-height: 32px;
    }

    p {
      font-size: 0.875rem !important;
      line-height: 18px;
    }
  }
}

@media (max-width: ($breakpoint-md)) {
  .page-header {
    padding: 0 80px;
    margin-top: 16px;

    h1 {
      font-size: 24px !important;
      line-height: 32px;
    }

    p {
      font-size: 16px !important;
      line-height: 18px;
      text-align: center;
    }
  }
}

// @media (max-width: ($breakpoint-sm + 200px)) {
//   // .page-header {
//   //   padding: 0;
//   // }
// }
