@use '../../../../assets/styles/style.scss' as *;

.ai-assistant-component {
  display: flex;
  gap: 20px;

}

@media (max-width: ($breakpoint-md + 300px)) {
  .ai-assistant-component {
    align-items: center;
    justify-content: center;
  }
}

@media (max-width: ($breakpoint-sm)) {
  .ai-assistant-component {
    flex-direction: column;

    div.chat {
      width: 100%;
      max-width: 100%;
    }

    div.voice-chat {
      width: 100%;
      max-width: 100%;
    }
  }
}
