.section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.page-header {
  margin-top: 40px;
}

img.dashboard-icon {
  width: 900px;
  height: 558px;
}
