@use '../../assets/styles/style.scss' as *;

.section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  &.main-section {
    padding-top: 40px;

    .page-header {
      margin-top: 24px;
    }
  }

  &.advantage-section {
    .page-header {
      .page-header__subtitle {
        margin-top: 0;
      }
    }

    .custom-tag {
      margin-top: 16px;
    }

    .advantage-section__footer {
      display: flex;
      margin-top: 32px;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 16px;

      button {
        width: fit-content;
      }
    }
  }
}

.section.offer-section {
  padding: 0 40px;
  align-items: flex-start;

  .offer-component {
    width: 100%;
  }

  .page-header {
    h1 {
      text-align: left;
    }

    p {
      margin-top: 16px;
      font-weight: 500;
      color: $gray-500;
      text-align: left;
      font-size: 16px;
      line-height: 22px;
      max-width: 380px;
    }
  }
}

.customer-section {
  padding: 0 40px;

  padding-bottom: 40px;

  .page-header {
    margin-right: auto;
    h1 {
      text-align: left;
    }

    p {
      margin-top: 16px;
      font-weight: 500;
      color: $gray-500;
      text-align: left;
      font-size: 16px;
      line-height: 22px;
      max-width: 640px;
    }
  }
}

.subscription-section {
  .page-header {
    h1 {
      color: $main-50;
    }
  }

  &__footer {
    padding-top: 110px;

    p {
      font-size: 14px;
      display: flex;
      gap: 0.25rem;

      a {
        font-weight: 600;
      }

      h2 {
        font-size: 14px;
        margin: 0;
      }
    }
  }
}

.promo-video {
  .page-header {
    p {
      margin-top: 16px;
    }

    &__subtitle {
      color: $gray-500;
      font-size: 16px;
      line-height: 22px;
      max-width: 530px;
    }
  }
}

.question-section {
  padding: 0 40px;
  padding-bottom: 40px;

  display: grid;
  grid-template-columns: 1fr 1.5fr;
  justify-content: space-between;
  gap: 50px;

  .page-header {
    .tag-title {
      max-width: 400px;
    }

    h1 {
      text-align: left;
    }

    p {
      margin-top: 16px;
      font-weight: 500;
      color: $gray-500;
      text-align: left;
      font-size: 16px;
      line-height: 22px;
      max-width: 380px;
    }
  }
}

.ready-business-section {
  padding: 40px 24px;
}

.page-header {
  margin-top: 40px;
}

img.dashboard-icon {
  width: 900px;
  height: 558px;
}

@media (max-width: ($breakpoint-md + 37px)) {
  .offer-section {
    .offer-list {
      width: 100%;
    }

    .offer-component {
      border: none;
      display: grid;
      width: 100%;
      grid-template-columns: 1fr;
    }

    .offer-list {
      display: flex;
      flex-direction: column;

      gap: 24px;

      .MuiButtonBase-root {
        border: none;
        border-top-left-radius: 16px;
        border-bottom-left-radius: 16px;
      }
    }

    .offer-component-container {
      display: grid;
      grid-template-columns: 1fr 1fr;
      border: 1px solid $white-stroke-50;
      border-radius: 16px;

      .offer-item-icon {
        width: 100%;
        background-color: #f6f6f6;
        border-top-right-radius: 16px;
        border-bottom-right-radius: 16px;
        padding: 24px;
        display: block;
      }

      svg {
        max-width: 320px;
        width: 100%;
        height: 100%;
      }
    }

    .page-header {
      width: 100%;
      padding: 0;
      h1 {
        text-align: left;

        .tag-title {
          max-width: 100%;
          width: 100%;
        }
      }
    }
  }
}

@media (max-width: ($breakpoint-md + 37px)) {
  .section.customer-section {
    align-items: flex-start;

    .customers {
      margin-top: 32px;
      grid-template-columns: 1fr 1fr;

      .col3 {
        display: none;
      }
    }

    .page-header {
      padding: 0;
      h1 {
        text-align: left;

        .tag-title {
          max-width: 100%;
          width: 100%;
        }
      }
    }
  }
}

@media (max-width: ($breakpoint-sm + 37px)) {
  .section.customer-section {
    .customers {
      margin-top: 32px;
      grid-template-columns: 1fr;

      .col1 {
        display: none;
      }
    }
  }
}

@media (max-width: ($breakpoint-md + 100px)) {
  .section {
    .page-header {
      h1 {
        text-align: center;

        .tag-title {
          max-width: 100%;
          width: 100%;
        }
      }
    }
  }

  .question-section {
    grid-template-columns: 1fr;

    .page-header {
      h1 {
        text-align: center;

        .tag-title {
          max-width: 100%;
          width: 100%;
        }
      }
    }
  }
}

@media (max-width: ($breakpoint-sm + 37px)) {
  section.offer-section {
    padding: 16px;

    .offer-component {
      .offer-list {
        .MuiButtonBase-root {
          padding: 16px;

          .offer-item__text {
            font-size: 16px;
            text-align: left;
          }
        }

        .offer-item__more {
          margin-top: 18px;
        }
      }
    }

    .offer-component-container {
      grid-template-columns: 1fr;

      .MuiButtonBase-root {
        border-top-right-radius: 16px;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
      }

      .offer-item__description {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        width: 100%;
        display: block;
        font-size: 16px;
      }

      .offer-item-icon {
        border-top-right-radius: 0;
        border-bottom-left-radius: 16px;
        border-bottom-right-radius: 16px;
        min-height: 332px;
      }

      svg {
        border-radius: 0;
        max-width: 100%;
        width: 100%;
        height: 100%;
      }
    }
  }
}

@media (max-width: ($breakpoint-sm + 37px)) {
  section.subscription-section {
    .subscription-section__footer {
      p {
        flex-wrap: wrap;
        justify-content: center;
        margin-bottom: 40px;
      }
    }
  }
}

@media (max-width: ($breakpoint-sm + 37px)) {
  section.main-section {
    .page-header {
      padding-left: 0;
      padding-right: 0;
    }

    button.MuiButtonBase-root {
      margin-bottom: 15px;
    }
  }
}

@media (max-width: ($breakpoint-sm + 37px)) {
  section {
    padding: 0 16px !important;
    padding-top: 16px !important;
    padding-bottom: 20px !important;
  }
}
