@use '../../assets/styles/style.scss' as *;

.section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.section.offer-section {
  align-items: normal;
  padding: 0 40px;

  .page-header {
    h1 {
      text-align: left;
    }

    p {
      margin-top: 16px;
      font-weight: 500;
      color: $gray-500;
      text-align: left;
      font-size: 16px;
      line-height: 22px;
      max-width: 380px;
    }
  }
}

.customer-section {
  align-items: normal;
  padding: 0 40px;

  padding-bottom: 40px;

  .page-header {
    h1 {
      text-align: left;
    }

    p {
      margin-top: 16px;
      font-weight: 500;
      color: $gray-500;
      text-align: left;
      font-size: 16px;
      line-height: 22px;
      max-width: 640px;
    }
  }
}

.subscription-section {
  .page-header {
    h1 {
      color: $main-50;
    }
  }

  &__footer {
    padding-top: 110px;

    p {
      font-size: 14px;
      display: flex;
      gap: 0.25rem;

      a {
        font-weight: 600;
      }

      h2 {
        font-size: 14px;
        margin: 0;
      }
    }
  }
}

.promo-video {
  .page-header {
    p {
      margin-top: 16px;
    }

    &__subtitle {
      color: $gray-500;
      font-size: 16px;
      line-height: 22px;
      max-width: 530px;
    }
  }
}

.question-section {
  align-items: normal;
  padding: 0 40px;
  padding-bottom: 40px;

  display: grid;
  grid-template-columns: 1fr 1.5fr;
  justify-content: space-between;
  gap: 50px;

  .page-header {
    .tag-title {
      max-width: 400px;
    }

    h1 {
      text-align: left;
    }

    p {
      margin-top: 16px;
      font-weight: 500;
      color: $gray-500;
      text-align: left;
      font-size: 16px;
      line-height: 22px;
      max-width: 380px;
    }
  }
}

.ready-business-section {
  padding: 40px 24px;
}

.page-header {
  margin-top: 40px;
}

img.dashboard-icon {
  width: 900px;
  height: 558px;
}
