@use '../../../../assets/styles/style.scss' as *;

.why-choose-platform {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 24px;

  padding: 0 32px;
}

@media (max-width: ($breakpoint-sm + 100px)) {
  .why-choose-platform {
    grid-template-columns: 1fr;
  }
}
