@use '../../../../assets/styles/style.scss' as *;

.assistant {
  height: 500px;

  .assistant-ai-info {
    position: relative;
    max-width: 650px;
    height: 100%;
    width: 100%;
  }

  .voice-chat {
    max-width: 366px;
    width: 100%;
    max-height: 322px;
    position: relative;
    top: 100%;
    left: 0%;
    transform: translateY(-100%);
  }

  .assistant-chat {
    max-width: 396px;
    position: relative;
    left: 255px;
    top: -55%;
  }

  .chat {
    max-width: 396px;
    width: 100%;

    &__footer {
      margin-top: 17px;
    }

    .assistant-message-header {
      display: flex;
      align-items: center;
      gap: 6px;

      .title-container {
        .title {
          color: $main-500;
          font-size: 15px;
          font-weight: 600;
        }

        .online {
          font-size: 12px;
          font-weight: 400;
          line-height: 17px;
          color: $green-600;
        }
      }
    }

    .message.chat {
      background-color: $gray-50;
      color: $primary-50;
    }

    .message.me {
      background-color: $secondary;
      color: #ffffff;
    }
  }

  .assistant-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 7px;

    .title {
      font-weight: 600;
      font-size: 17px;
      line-height: 17px;
      color: $primary-50;
    }

    .phone {
      font-weight: 400;
      font-size: 15px;
      line-height: 19px;
      color: $main-500;
    }

    .answering {
      color: $green-600;
      font-size: 12px;
      line-height: 17px;
    }
  }
}

@media (max-width: ($breakpoint-sm + 250px)) {
  .assistant {
    .assistant-ai-info {
      max-width: calc(331px + 338px);

      .voice-chat {
        max-width: 331px;
        min-width: 100px;
      }

      .assistant-chat {
        .chat {
          max-width: 338px;
          min-width: 100px;
          .assistant-message-header .title-container .title {
            font-size: 13px;
          }

          .chat__messages {
            .message {
              p {
                font-size: 13px;
              }
            }
          }
        }
      }
    }
  }
}

@media (max-width: ($breakpoint-sm + 180px)) {
  .assistant {
    height: 100%;

    .assistant-ai-info {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-self: center;
      gap: 20px;

      .assistant-chat {
        left: 0;
        top: 0;
        transform: translateY(0%);
        max-width: 100%;
        width: 100%;

        .chat {
          max-width: 100%;
          width: 100%;
        }
      }

      .voice-chat {
        top: 0;
        transform: translateY(0%);
        max-width: 100%;
        width: 100%;
        left: 0;
      }
    }
  }
}
