@use '../../../../assets/styles/style.scss' as *;

.incoming-call {
  display: flex;
  flex-direction: column;
  gap: 24px;

  background: #ffffff;
  box-shadow: 0px 8px 32px 0px #0000000f;
  border-radius: 16px;
  padding: 32px 24px;

  &__call {
    border-radius: 8px;
    padding: 16px;
    background-color: $bg-50;
    border: 1px solid $gray-50;

    .call-header {
      display: flex;
      justify-content: space-between;

      .title {
        display: flex;
        align-items: center;
        gap: 6px;

        svg {
          width: 20px;
          height: 20px;
        }

        .small-alert {
          height: fit-content;
        }

        h2 {
          font-size: 14px;
          font-weight: 600;
          line-height: 16px;
        }
      }
    }

    .phone {
      display: flex;
      justify-content: center;

      h2 {
        font-weight: 600;
        color: $main-500;
        font-size: 18px;
        line-height: 22px;
      }
    }

    .booking {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 8px;
      margin-top: 16px;

      .call-icon {
        height: 44px;
        width: 44px;
      }

      .book-button {
        padding: 10px 16px;

        h2 {
          font-size: 16px;
          line-height: 24px;
          font-weight: 600;
        }
      }
    }
  }

  &__transcript {
    background-color: $violet-50;
    padding: 14px 12px;
    border-radius: 4px;
    box-shadow: 0px 2px 8px 0px #00000014;

    .transcript {
      display: flex;
      gap: 6px;
      align-items: center;

      .title {
        font-weight: 600;
        font-size: 14px;
        line-height: 16px;
        color: $violet-700;
      }
    }

    .transcript-description {
      margin-top: 8px;
      color: $main-500;
      font-style: italic;
    }
  }

  &__animated-icon {
    display: flex;
    justify-content: center;
    
    svg {
      width: 580px;
      height: 63px;
    }
  }
}
