@use '../../../assets/styles/style.scss' as *;

.custom-tag {
  font-size: 12px;
  line-height: 16px;
  font-weight: 400;
  padding: 2px 8px;
  border-radius: 16px;
  width: fit-content;
}

@media (max-width: ($breakpoint-sm)) {
  .custom-tag {
    max-width: 120px;

    p {
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
  }
}

@media (max-width: ($breakpoint-sm - 200px)) {
  .custom-tag {
    max-width: 60px;

    p {
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
  }
}
