@use '../../../assets/styles/style.scss' as *;

.table-tag-alert {
  border-radius: 16px;
  padding: 3px 12px;
  font-size: 12px;
  line-height: 16px;
  font-weight: 400;
  width: fit-content;
  border: 1px solid $gray-300;
  p {
    color: $gray-800;
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
  }
}
