@use '../../assets/styles/style.scss' as *;

.layout {
  transition: padding 0.2s ease;
  display: flex;
  height: 100vh;
  flex-direction: column;
  position: relative;
  z-index: 999;

  &::before {
    content: '';
    display: block;
    width: 100%;
    height: 100vh;
    left: 0;
    position: absolute;
    background-image: radial-gradient(#edeeee 1px, transparent 0);
    background-size: 24px 24px;
    background-repeat: repeat;
    background-position: top left;
    z-index: 0;
  }

  header {
    padding: 0 120px;
    background-color: white;
    position: relative;
    z-index: 1;
  }

  main {
    position: relative;
    height: 100%;

    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      height: 300px;
      width: 100%;
      z-index: 1;
      pointer-events: none;
      background: linear-gradient(to bottom, white 0%, rgba(255, 255, 255, 0) 100%);
    }
  }

  footer {
    margin-top: auto;
  }
}

@media (max-width: ($breakpoint-md + 200px)) {
  .layout > .main {
    padding: 0 40px;
    transition: padding 0.2s ease;
  }

  .layout {
    header {
      padding: 0 40px;
      transition: padding 0.2s ease;

      &.MuiPaper-root {
        padding-right: 40px !important;
      }
    }

    footer {
      padding: 48px 32px;

      .resources {
        display: none;
      }
    }
  }
}

@media (max-width: ($breakpoint-md + 200px)) {
  .layout {
    footer {
      padding: 48px 32px;
      padding-bottom: 32px;

      .footer__privacy {
        padding-bottom: 0;
      }

      .subtitle {
        width: 100%;
        max-width: 100%;
      }

      .resources {
        display: none;
      }

      .footer__content {
        flex-direction: column;

        .footer__items-container {
          margin: 0;
          margin-top: 32px;
        }
      }
    }
  }
}

@media (max-width: ($breakpoint-sm - 100px)) {
  .layout {
    footer {
      .footer__content {
        flex-direction: column;

        .footer__items-container {
          flex-direction: column;
          gap: 20px;
        }
      }

      .footer__privacy {
        flex-direction: column-reverse;
        align-items: center;
        gap: 23px;
        justify-content: center;
      }
    }
  }
}

@media (max-width: ($breakpoint-sm)) {
  .layout > .main {
    padding: 0 16px;
    transition: padding 0.2s ease;
  }

  .layout {
    header {
      padding: 0 40px;

      transition: padding 0.2s ease;

      &.MuiPaper-root {
        padding-right: 40px !important;
      }
    }
  }
}
