.features {
  display: flex;
  flex-direction: column;
  gap: 40px;

  .page-header {
    margin-top: 40px;
  }

  .feature {
    z-index: 1;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 40px;
    margin-bottom: 40px;

    &.custom-crm-feature {
      .page-header {
        margin-bottom: 40px;
      }
    }

    &.reverse {
      .split-view {
        margin-top: 0;
        direction: rtl;

        * {
          direction: ltr;
        }
      }
    }
  }
}
