.our-story {
  .sharp-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
  .story-item {
    background-color: #ffffff;
    padding: 59px 16px;

    &__icon-content {
      display: flex;
      gap: 8px;
      align-items: center;

      .icon {
        height: 28px;
        svg {
          width: 28px;
          height: 28px;
        }
      }

      .icon-title {
        font-size: 32px;
        line-height: 32px;
        font-weight: 600;
      }
    }

    &__title {
      font-weight: 600;
      font-size: 18px;
      line-height: 26px;
      margin-top: 6px;
    }

    &__description {
      font-weight: 400;
      margin-top: 6px;
      line-height: 22px;
      font-size: 16px;
      max-width: 325px;
    }
  }
}
