@use '../..//assets/styles/style.scss' as *;

.ai-assistant-section {
  display: flex;
  flex-direction: column;
  gap: 40px;
  align-items: center;
  justify-content: center;

  .page-header {
    &__subtitle {
      font-size: 18px;
    }
  }

  &.chatbot-section {
    .split-view {
      grid-template-columns: 1fr 1fr;
    }

    @media (max-width: ($breakpoint-md + 700px)) {
      .split-view {
        grid-template-columns: 1.2fr 1fr;
      }
    }
    @media (max-width: ($breakpoint-md + 620px)) {
      .split-view {
        grid-template-columns: 1.4fr 1fr;
      }
    }

    @media (max-width: ($breakpoint-md + 520px)) {
      .split-view {
        grid-template-columns: 1.7fr 1fr;
      }
    }

    @media (max-width: ($breakpoint-md + 500px)) {
      .split-view {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;

        .split-view__col1 {
          width: 100%;

          .assistant {
            display: flex;
            justify-content: center;
          }
        }

        .split-view__col2 {
          top: 0;
          transform: translateY(0%);

          display: flex;
          flex-direction: column;
          align-items: center;

          .col2__title {
            text-align: center;
          }

          p {
            text-align: center;
          }
        }
      }
    }

    @media (max-width: ($breakpoint-sm - 100px)) {
      .split-view {
        .split-view__col2 {
          width: 100%;

          .col2__action {
            width: 100%;
          }

          .main__actions {
            flex-direction: column;
            width: 100%;

            .MuiButtonBase-root {
              width: 100%;
            }
          }
        }
      }
    }
  }

  &.why-choose-section {
    .page-header__subtitle {
      max-width: 540px;
    }

    @media (max-width: ($breakpoint-sm + 100px)) {
      .section-container {
        .page-header {
          padding-top: 16px;
        }
      }
    }
  }

  .ai-voice-agent-feature {
    .split-view {
      grid-template-columns: 1.3fr 1fr;
    }
  }

  .inteligent-chatbot-feature {
    .split-view {
      grid-template-columns: 1.1fr 1fr;
    }
  }

  .language-feature {
    .split-view {
      grid-template-columns: 1.3fr 1fr;
    }
  }

  .automated-lead-feature {
    .split-view {
      grid-template-columns: 1.2fr 1fr;
    }
  }

  &.main {
    .section-container {
      padding: 40px 32px;

      .page-header {
        margin-top: 0;
        margin-bottom: 40px;

        &__subtitle {
          font-size: 18px;
        }
      }
    }
  }

  &.why-choose-section {
    .section-container {
      padding: 40px 32px;

      .page-header {
        margin-top: 0;
        margin-bottom: 40px;

        &__subtitle {
          font-size: 18px;
        }
      }
    }
  }

  &.features-section {
    .feature {
      padding-bottom: 40px;
    }

    .page-header {
      display: flex;
      flex-direction: column;
      align-items: center;
      .page-header__subtitle {
        max-width: 540px;
        margin-top: 16px;
      }
    }

    .split-view {
      .col2__title.MuiBox-root {
        color: $primary-light;
      }
    }

    .split-view .col2 p {
      margin-bottom: 8px;
    }

    ul {
      padding-left: 30px;
      list-style: disc;

      li {
        list-style: disc;
        font-size: 18px;
        font-weight: 400;
        line-height: 26px;
        color: $main-500;
      }
    }

    .feature {
      width: 100%;

      &.reverse {
        .split-view {
          margin-top: 0;
          direction: rtl;

          * {
            direction: ltr;
          }
        }
      }
    }
  }

  &.main {
    .section-container {
      padding: 16px 32px;
    }

    .main__actions {
      display: flex;
      gap: 16px;
    }
  }

  &.reverse {
    .split-view {
      margin-top: 0;
      direction: rtl;

      * {
        direction: ltr;
      }
    }
  }
}
