@use '../..//assets/styles/style.scss' as *;

.ai-assistant-section {
  display: flex;
  flex-direction: column;
  gap: 40px;
  align-items: center;
  justify-content: center;

  .section-container {
    padding: 40px 32px;
  }

  &.features-section {
    .feature {
      padding-bottom: 40px;
    }

    .page-header {
      display: flex;
      flex-direction: column;
      align-items: center;
      .page-header__subtitle {
        max-width: 540px;
        margin-top: 16px;
      }
    }

    .split-view {
      .col2__title.MuiBox-root {
        color: $primary-light;
      }
    }

    .split-view .col2 p {
      margin-bottom: 8px;
    }

    ul {
      padding-left: 30px;
      list-style: disc;

      li {
        list-style: disc;
        font-size: 18px;
        font-weight: 400;
        line-height: 26px;
        color: $main-500;
      }
    }

    .feature {
      width: 100%;

      &.reverse {
        .split-view {
          margin-top: 0;
          direction: rtl;

          * {
            direction: ltr;
          }
        }
      }
    }
  }

  &.main {
    .section-container {
      padding: 60px 32px;
    }

    .main__actions {
      display: flex;
      gap: 16px;
    }
  }

  &.reverse {
    .split-view {
      margin-top: 0;
      direction: rtl;

      * {
        direction: ltr;
      }
    }
  }
}
