.app-modal-root {
  &__content {
    padding: 32px;
    background-color: white;
    border-radius: 12px;
    color: black;
    width: 600px;
  }

  &__close-btn {
    &.MuiButtonBase-root {
      position: absolute;
      left: 100%;
      top: 15px;

      transform: translate(calc(-100% - 10px));
    }
  }

  &__transparent {
    background-color: transparent;
  }
}

@media (max-width: (600px)) {
  .app-modal-root {
    &__content {
      width: 450px;
    }
  }
}

@media (max-width: (450px)) {
  .app-modal-root {
    &__content {
      width: 320px;
    }
  }
}
