.custom-node {
  padding: 12px;
  min-width: 220px;
  min-height: 150px;
  width: 220px;
  border-radius: 8px;
  font-size: 13px;
  border: 1px solid #ced1d5;
  text-align: left;
  white-space: pre-wrap;
  position: relative;
}

.right-handles {
  position: absolute;
  left: calc(100% - 2px);
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
  gap: 3px;
}

.left-handles {
  position: absolute;
  left: -3px;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
  gap: 8px;
}

/* .left-handles::before {
  content: '';
  position: absolute;
  left: -5px;
  top: 0;
  width: 15px;
  height: 85%;
  border-left: 1px solid #ced1d5;
  border-top: 1px solid #ced1d5;
  border-bottom: 1px solid #ced1d5;
  border-radius: 20px;
  box-sizing: border-box;
} */

.left-handles > .react-flow__handle {
  position: static;
  width: 5px;
  left: 0;
  height: 5px;
}

.single-point {
}

.handle {
  width: 5px;
  height: 5px;
  background: #ced1d5;
  border-radius: 50%;
}

.react-flow__handle {
  width: 5px;
  height: 5px;
  background: #ced1d5;
  border-radius: 50%;
}
