@use '../../../assets/styles/style.scss' as *;

.ai-block {
  max-width: 215px;
  background-color: #ffffff;
  min-height: 132px;

  .bottom-points {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 99%;
  }

  .right-points {
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 5px;
    height: 50px;
    gap: 10px;
    left: 99%;
    top: 50%;
    transform: translateY(-30%);
  }

  .right-point {
    position: absolute;
    left: 91%;
    top: 50%;
    transform: translateY(15%);
  }

  .left-points {
    position: absolute;
    left: -6%;
    top: 50%;
    transform: translateY(calc(-50% + 8px));
  }

  .bottom-points {
    position: absolute;
  }

  .top-point {
    position: absolute;
    top: -2.2%;
    left: 50%;
    transform: translateX(-50%);
  }

  .top-points {
    position: absolute;
    top: -9%;
    left: 50%;
    transform: translateX(-50%);
  }

  &__header {
    display: flex;
    align-items: center;

    h2 {
      font-weight: 700;
      font-size: 12px;
      line-height: 16px;
      width: fit-content;
      margin-left: 4px;
    }

    svg {
      width: 20px;
      height: 20px;
    }

    .custom-tag {
      margin-left: auto;
    }
  }

  &__content {
    margin-top: 8px;

    .item {
      display: flex;
      align-items: center;
      gap: 6px;
      padding: 6px 12px;

      border-bottom: 1px solid #eff0f1;

      &:last-child {
        border: 0;
      }

      &__icon {
        height: 14px;
        svg {
          width: 14px;
          height: 14px;
        }
      }

      &__title {
        font-size: 12px;
        font-weight: 400;
        line-height: 16px;
        color: $gray-400;
      }
    }
  }
}
