@use '../../../assets/styles/style.scss' as *;

.ai-block {
  background-color: #ffffff;

  .bottom-points {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 99%;
  }

  .right-points {
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 5px;
    height: 50px;
    gap: 10px;
    left: 99%;
    top: 50%;
    transform: translateY(-30%);
  }

  .right-point {
    position: absolute;
    left: 91%;
    top: 50%;
    transform: translateY(15%);
  }

  .left-points {
    position: absolute;
    left: -5%;
    top: 50%;
    transform: translateY(calc(-50% + 10px));
  }

  .left-point {
    position: absolute;
    left: -20px;
    top: 50%;
    transform: translateY(calc(-50%));
  }

  .bottom-points {
    position: absolute;
  }

  .top-point {
    position: absolute;
    top: -2.2%;
    left: 50%;
    transform: translateX(-50%);
  }

  .top-points {
    position: absolute;
    top: -9%;
    left: 50%;
    transform: translateX(-50%);
  }

  &__header {
    display: flex;
    align-items: center;
    border-bottom: 1px solid #e4e7ec;
    padding-bottom: calc(0.25rem * 3);

    svg {
      min-width: 15px;
      min-height: 15px;
    }

    .custom-tag {
      padding: 1px 5px;
      border-radius: 5rem;

      p {
        font-size: 0.75rem;
      }
    }

    h2 {
      font-weight: 600;
      font-size: 0.875rem;
      line-height: 16px;
      width: fit-content;
      margin-left: 4px;
    }

    svg {
      width: 20px;
      height: 20px;
    }

    .custom-tag {
      margin-left: auto;
    }
  }

  &__content {
    .item {
      display: flex;
      align-items: center;
      gap: 6px;
      padding: 6px 12px;

      border-bottom: 1px solid #eff0f1;

      &:last-child {
        border: 0;

        .item__title {
          font-size: 11px;
          color: #a4aeba;
        }
      }

      &__icon {
        height: 14px;
        svg {
          width: 14px;
          height: 14px;
        }
      }

      &__title {
        font-size: 0.75rem;
        font-weight: 500;
        line-height: 16px;
        color: #505967;

        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
      }
    }
  }
}
