@use '../../assets/styles/style.scss' as *;

.elevanto-header {
  &.MuiContainer-root {
    padding-left: 0;
    padding-right: 0;

    padding-top: 22px;
    padding-bottom: 22px;

    max-width: 100%;

    .MuiToolbar-root {
      min-height: fit-content;
      display: flex;
      position: relative;
      justify-content: center;
      align-items: center;
    }
  }

  &__logo {
    display: flex;
    align-items: center;
    flex-grow: 1;

    .logo-container {
      display: flex;
      align-items: center;
    }

    .logo {
      img {
        width: 23px;
        height: 23px;
      }
    }

    .title {
      color: $primary;
      font-weight: 600;
      font-size: 18px;
    }
  }

  &__actions {
    display: flex;
    gap: 32px;

    button {
      min-width: fit-content;
    }
  }

  .navigation {
    padding: 0;
    margin: 0;

    display: flex;
    gap: 30px;

    li {
      font-size: 14px;
      line-height: 18px;
      list-style: none;
    }
  }
}
