@use '../../assets/styles/style.scss' as *;

.contact-us {
  padding: 40px 32px;

  &__welcome {
    display: grid;
    grid-template-columns: 1fr 0.8fr;
    gap: 48px;
    align-items: center;
    margin-bottom: 60px;
  }

  &__form {
    display: grid;
    gap: 24px;
    grid-template-columns: 1fr 0.8fr;
  }

  &__contacts {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  .welcome-title {
    display: flex;
    flex-direction: column;
    gap: 16px;
    max-width: 658px;

    &__title {
      font-size: 32px;
      font-weight: 600;
      line-height: 40px;
      color: $dark-grey-900;
    }

    &__subtitle {
      color: $gray-400;
      font-size: 18px;
      font-weight: 400;
      line-height: 26px;
    }
  }
}

@media (max-width: ($breakpoint-sm + 180px)) {
  .contact-us {
    &__welcome {
      grid-template-columns: 1fr;
    }

    &__form {
      grid-template-columns: 1fr;

      .reach-us-component {
        max-width: 100%;
      }
    }
  }
}

@media (max-width: ($breakpoint-xs + 400px )) {
  .contact-us {
    padding: 0;
  }
}
