@use '../../assets/styles/style.scss' as *;

.contact-us {
  padding: 40px 32px;
  width: 100%;

  .laern-about-us {
    display: grid;
    grid-template-columns: 1fr 0.8fr;
    gap: 48px;
    align-items: center;
    margin-bottom: 60px;
    width: 100%;
  }

  &__form {
    display: grid;
    gap: 24px;
    grid-template-columns: 1fr 0.8fr;
  }

  &__contacts {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }
}

@media (max-width: ($breakpoint-sm + 180px)) {
  .contact-us {
    &__welcome {
      grid-template-columns: 1fr;
    }

    &__form {
      grid-template-columns: 1fr;

      .reach-us-component {
        max-width: 100%;
      }
    }
  }
}

@media (max-width: ($breakpoint-xs + 400px )) {
  .contact-us {
    padding: 0;
  }
}
