@use '../../../../assets/styles/style.scss' as *;

.offer-component {
  border: 1px solid #eaebec;
  border-radius: 16px;
  margin-bottom: 40px;
  margin-top: 32px;

  .offer-list {
    .MuiButtonBase-root {
      background-color: white;
      padding: 24px;
      cursor: pointer;
      border-bottom: 1px solid #eaebec;
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: flex-start;

      border-top-left-radius: 0;
      border-top-right-radius: 0;
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;

      transition: background-color 0.2 ease-in;

      &:hover {
        background-color: $bg-50;
        transition: background-color 0.2 ease-out;
      }

      .offer-item__icon {
        padding: 10px;
        background-color: white;
        box-shadow: 0px 2px 8px 0px #63636333;
        border-radius: 8px;
        max-width: 40px;
        margin-bottom: 16px;

        svg {
          width: 20px;
          height: 20px;
          position: relative;
          top: 4px;
        }
      }

      .offer-item__text {
        color: $primary-50;
        font-size: 20px;
        font-weight: 600;
        line-height: 28px;
        margin-bottom: 8px;

        max-width: 450px;
      }

      .offer-item__description {
        max-width: 450px;
        color: $gray-400;
        text-align: left;
      }

      .offer-item__more {
        display: flex;
        gap: 10px;
        margin-top: 32px;

        .title {
          color: $primary;
          font-weight: 600;
          font-size: 14px;
          line-height: 20px;
        }

        .icon {
          svg {
            width: 20px;
            height: 20px;
          }
        }
      }
    }

    .offer-component-container {
      &:first-child {
        .MuiButtonBase-root {
          border-top-left-radius: 16px;
        }
      }

      &:last-child {
        .MuiButtonBase-root {
          border-bottom-left-radius: 16px;
          border: none;
        }
      }
    }
  }

  .offer-item-icon {
    display: none;
  }

  .offer-icon {
    background-color: #fafafa;
    border-top-right-radius: 16px;
    border-bottom-right-radius: 16px;
    padding: 0 27px;
    display: flex;
    align-items: center;
    justify-content: center;

    border-left: 1px solid #eaebec;

    svg {
      width: 620px;
      height: 570px;
    }
  }
}

@media (max-width: ($breakpoint-md + 37px)) {
  .offer-component {
    .offer-item-icon {
      display: block;
    }

    .offer-icon {
      display: none;
    }
  }
}
