@use '../../../assets/styles/style.scss' as *;

.ready-business {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 24px;
  justify-content: space-between;
  align-items: center;
  border-radius: 16px;
  background-color: $secondary;
  padding: 103px 40px;

  color: white;

  .content {
    .title {
      font-size: 36px;
      font-weight: 600;
      line-height: 40px;
    }

    .subtitle {
      font-size: 16px;
      line-height: 22px;
      font-weight: 400;
      margin-top: 16px;
      margin-bottom: 32px;
    }

    .actions {
      display: flex;
      gap: 16px;

      .start-btn {
        background-color: white;
        color: $primary;
      }
    }
  }
}
