@use '../../../../assets/styles/style.scss' as *;

.tags {
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 15px;

  margin-top: 32px;

  &__list {
    display: flex;
    gap: 15px;
  }

  &::before {
    content: '';
    display: block;
    position: absolute;

    width: 500px;
    height: 100%;

    background:
      linear-gradient(90deg, #ffffff 0%, rgba(255, 255, 255, 0) 100%),
      linear-gradient(90deg, #ffffff 0%, rgba(255, 255, 255, 0) 100%);

    z-index: 2;
  }

  &::after {
    content: '';
    display: block;
    position: absolute;

    width: 500px;
    height: 100%;
    left: 100%;

    transform: rotate(-180deg) translateX(100%);

    background:
      linear-gradient(90deg, #ffffff 0%, rgba(255, 255, 255, 0) 100%),
      linear-gradient(90deg, #ffffff 0%, rgba(255, 255, 255, 0) 100%);

    z-index: 2;
  }
}

@media (max-width: ($breakpoint-lg)) {
  .tags {
    &::before {
      width: 250px;
    }

    &:after {
      width: 250px;
    }
  }
}

@media (max-width: ($breakpoint-sm + 168px)) {
  .tags {
    &::before {
      width: 100px;
    }

    &:after {
      width: 100px;
    }

    .tag {
      padding: 16px 28px;
    }
  }
}

@media (max-width: ($breakpoint-sm - 100px)) {
  .tags {
    &::before {
      width: 50px;
    }

    &:after {
      width: 50px;
    }

    .tag {
      padding: 14px 16px;
    }
  }
}
