@use '../../../assets/styles/style.scss' as *;

.custom-workflow {
  background-color: white;
  border-radius: 16px;
  box-shadow: 0px 8px 32px 0px #0000000f;
  padding: 24px;

  &__content {
    border: 1px solid $gray-50;
    border-radius: 12px;
    padding: 20px;
  }

  &__base-actions {
    display: flex;
    gap: 23px;
  }

  &__triggers {
    display: flex;
    flex-direction: column;
    align-items: center;

    .plus-icon-btn {
      margin-top: 20px;
      margin-bottom: 20px;
    }
  }

  &__users {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;

    button {
      width: fit-content;
    }

    .users-content {
      display: flex;
      max-height: 32px;
      margin-top: 20px;
      gap: 9px;
      align-items: center;
      background-color: $gray-50;
      padding: 8px 12px;
      border-radius: 4px;

      svg {
        width: 16px;
        height: 16px;
      }

      h2 {
        font-size: 12px;
        font-weight: 400;
        line-height: 16px;
      }
    }
  }
}

@media (max-width: ($breakpoint-sm)) {
  .custom-workflow {
    .trigger {
      padding: 6px;
      gap: 6px;

      &__action {
        padding: 2px;
      }

      &__icon {
        padding: 10px;

        width: 15px;
        height: 15px;

        svg {
          width: 15px;
          height: 15px;
        }
      }

      &__content {
        .trigger__title {
          font-size: 8px;
        }

        .trigger__description {
          font-size: 8px;
        }
      }
    }
  }
}
