@use '../../../assets/styles/style.scss' as *;

.how-it-works {
  display: grid;
  padding: 32px;

  .sharp-container {
    background-color: #ffffff;
    gap: 32px;
    margin-top: 40px;
  }

  .work-item {
    background-color: #ffffff;
    padding: 16px;
    padding-right: 0;

    &__number {
      background-color: $secondary;
      color: #ffffff;
      width: fit-content;
      padding: 4px;
      font-size: 12px;
      border-radius: 50px;
      width: 24px;
      height: 24px;
      position: relative;

      p {
        content: '';
        position: absolute;
        display: block;
        left: 50%;
        top: 50%;

        transform: translate(-50%, -50%);
      }
    }

    &__icon {
      margin-top: 16px;
      display: flex;
      align-items: center;
      justify-self: center;
    }

    &__title {
      font-size: 18px;
      font-weight: 600;
      line-height: 26px;
      color: $primary-50;
      margin-bottom: 16px;
      text-align: center;
    }

    &__description {
      font-size: 16px;
      font-weight: 400;
      line-height: 22px;
      color: $gray-500;
      text-align: center;
      max-width: 260px;
    }
  }
}

@media (max-width: ($breakpoint-md + 200px)) {
  .how-it-works {
    padding: 8px;

    .sharp-container {
      display: grid;
      grid-template-columns: 1fr 1fr;

      .work-item {
        .work-item__description {
          max-width: 100%;
        }
      }

      .sharp-item {
        &::before {
          position: absolute;
          content: '';
          display: block;
          background-color: $gray-50;
          width: 125%;
          height: 1px;
          top: 0%;
          left: -25px;
        }
      }
    }
  }
}

@media (max-width: ($breakpoint-sm)) {
  .how-it-works {
    .sharp-container {
      grid-template-columns: 1fr;

      .sharp-item {
        &::after {
          display: none;
        }
      }
    }
  }
}
