@use './assets/styles/style.scss' as *;

*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  font-family: 'IBM Plex Mono', monospace;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100vh;
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

a {
  font-weight: 400;
  color: $primary;
  text-decoration: inherit;
}

header {
  font-family: 'IBM Plex Mono', monospace;
}

li {
  list-style: none;
}

ul {
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
}

p,
a,
li,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-family: 'TT Hoves Pro Trial', sans-serif !important;
}

input {
  font-family: '"TT Hoves Pro Trial", monospace';
}

ul,
li {
  color: $primary;
}

body {
  margin: 0 !important;
  padding: 0 !important;
  display: flex;
  place-items: center;
  min-width: 320px;
  color: $primary;
  overflow: auto !important;
  height: 100vh;
  background-image: radial-gradient(#edeeee 1px, transparent 0);
  background-size: 24px 24px;
  background-repeat: repeat;
  background-position: top left;
  z-index: 0;
}

#elevanto-app-root {
  width: 100%;
  height: 100vh;
  font-family: 'IBM Plex Mono', monospace;
  position: relative;
  background-color: #ffffff;
}

div {
  font-family: 'IBM Plex Mono', monospace !important;
}
