$primary: #23272b;
$primary-light: #2D3237;
$primary-50: #151719;
$primary-80: #1b1e21;

$main-50: #3b4146;
$main-300: #75797c;

$secondary: #dc2c62;
$secondary-100: #e87296;
$secondary-180: #f4bece;
$secondary-200: #fceaef;

//Error & Warning
$error-color: #ff471a;

$gray-50: #eff0f1;
$gray-200: #b7bbc0;
$gray-400: #818992;
$gray-500: #626c77;
$gray-600: #59626c;
$gray-700: #464d54;

// background

$bg-50: #fafafa;
