$primary: #23272b;
$primary-light: #2D3237;
$primary-50: #151719;
$primary-80: #1b1e21;

$main-50: #3b4146;
$main-300: #75797c;
$main-400: #5A5F63;
$main-500: #3B4146;
$main-550: #31373C;


$secondary: #dc2c62;
$dark-secondary: #9C1F46;
$secondary-50: #E35681;
$secondary-100: #e87296;
$secondary-180: #f4bece;
$secondary-200: #fceaef;

//Error & Warning
$error-color: #ff471a;

$gray-50: #eff0f1;
$gray-200: #b7bbc0;
$gray-400: #818992;
$gray-500: #626c77;
$gray-600: #59626c;
$gray-700: #464d54;
$gray-900: #292D32;

// background

$bg-50: #fafafa;

// colors

$white-50: #EAEBEC;

$violet-600: #8965E3;

$accent-200: #EF9EB7;
$accent-600: #C82859;
$accent-700: #9C1F46;
