$primary: #23272b;
$primary-light: #2d3237;
$primary-50: #151719;
$primary-80: #1b1e21;

$main-50: #3b4146;
$main-300: #75797c;
$main-400: #5a5f63;
$main-500: #3b4146;
$main-550: #31373c;

$secondary: #dc2c62;
$dark-secondary: #9c1f46;
$secondary-50: #e35681;
$secondary-100: #e87296;
$secondary-180: #f4bece;
$secondary-200: #fceaef;

//Error & Warning
$error-color: #ff471a;

$gray-50: #eff0f1;
$gray-100: #ced1d5;
$gray-200: #b7bbc0;
$gray-400: #818992;
$gray-300: #969da4;
$gray-400: #6e6e6e;
$gray-500: #626c77;
$gray-600: #59626c;
$gray-700: #464d54;
$gray-800: #363b41;
$gray-900: #292d32;

$dark-grey-600: #424242;
$dark-grey-900: #101010;

$cool-gray-700: #334155;
$cool-gray-900: #0f172a;

// background

$bg-50: #fafafa;

// colors

$white-50: #eaebec;
$white-80: #f4f4f4;
$white-100: #f6f6f6;

$white-stroke-50: #e7e7e7;

$grenn-500: #5bb773;
$green-600: #53a769;

$violet-50: #f5f1fe;
$violet-400: #ac8cfa;
$violet-500: #976ff9;
$violet-600: #8965e3;
$violet-600: #8965e3;
$violet-700: #6b4fb1;
$violet-900: #3f2f69;

$accent-200: #ef9eb7;
$accent-600: #c82859;
$accent-700: #9c1f46;
$accent-750: #ad2d43;

$red-50: #feecef;

$orange-50: #fff4eb;
$orange-100: #feddc1;
$orange-300: #feb57a;
$orange-600: #e68333;
$orange-700: #b46628;
$orange-900: #6a3c18;

$yellow-50: #fffaeb;
$yellow-500: #ffc935;
$yellow-600: #e8b730;
$yellow-700: #b58f26;
