@use '../../../assets/styles/style.scss' as *;

$top-spacing: 54%;
$row-height: 11.3px;

.ai-container-section {
  width: 100%;

  .mobile-block {
    display: none;
  }
}

.ai-container {
  width: 100%;
  position: relative;
  display: grid;
  grid-template-columns: repeat(118, 1fr);
  grid-template-rows: repeat(12, $row-height);
  row-gap: 19px;
  padding: 0 40px;

  .small-desktop {
    display: none;
  }

  .block1 {
    position: absolute;
    top: 13px;
    bottom: 0;
    left: 1px;
    z-index: 3;
    grid-column-start: 10;
    grid-column-end: 30;
    grid-row-start: 6;
    grid-row-end: 30;
    height: calc(100% - ($row-height * 1.5));
    width: 100%;
  }

  .small-block-1 {
    position: absolute;
    top: 13px;
    bottom: 0;
    left: 1px;
    z-index: 3;
    grid-column-start: 10;
    grid-column-end: 30;
    grid-row-start: 6;
    grid-row-end: 30;
    height: 100px;
    width: 100%;
  }

  .block2 {
    position: absolute;
    bottom: 0;
    left: 1px;
    top: 11px;
    z-index: 2;
    grid-column-start: 33;
    grid-column-end: 85;
    grid-row-start: 5;
    grid-row-end: 6;
    height: 108px;
    width: 100%;
  }

  .small-block-2 {
    position: absolute;
    bottom: 0;
    left: 10px;
    z-index: 2;
    grid-column-start: 33;
    grid-column-end: 85;
    grid-row-start: 6;
    grid-row-end: 12;
    top: 0px;
    width: 100%;
  }

  .block3 {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 9px;
    z-index: 5;
    grid-column-start: 24;
    grid-column-end: 39;
    grid-row-start: 7;
    grid-row-end: 4;
    width: 100%;
  }

  .small-block-3 {
    position: absolute;
    top: -7px;
    bottom: 0;
    left: -7.5px;
    z-index: 5;
    grid-column-start: 29;
    grid-column-end: 39;
    grid-row-start: 7;
    grid-row-end: 4;
    width: 100%;
  }

  .block4 {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 0;
    grid-column-start: 35;
    grid-column-end: 49;
    grid-row-start: 12;
    grid-row-end: 8;
    height: 50px;
    width: 100%;
  }

  .small-block-4 {
    position: absolute;
    bottom: 0;
    left: -19px;
    top: -29px;
    z-index: 0;
    grid-column-start: 35;
    grid-column-end: 49;
    grid-row-start: 11;
    grid-row-end: 12;
    height: 50px;
    width: 100%;
  }

  .block5 {
    position: absolute;
    top: 119px;
    bottom: 0;
    left: 10px;
    z-index: 0;
    grid-column-start: 70;
    grid-column-end: 76;
    grid-row-start: 5;
    grid-row-end: 10;

    height: calc(100% - ($row-height * 1.5));
    width: 100%;
  }

  .small-block-5 {
    position: absolute;
    top: 107px;
    bottom: 0;
    left: 50px;
    z-index: 0;
    grid-column-start: 70;
    grid-column-end: 76;
    grid-row-start: 5;
    grid-row-end: 10;

    height: 60px;
    width: 100%;
  }

  .block6 {
    position: absolute;
    bottom: 0;
    left: 11px;
    z-index: 0;
    grid-column-start: 110;
    grid-column-end: 99;
    grid-row-start: 10;
    grid-row-end: 10;
    height: 130px;
    width: 100%;
  }

  .small-block-6 {
    position: absolute;
    bottom: 0;
    left: 11px;
    z-index: 0;
    grid-column-start: 94;
    grid-column-end: 94;
    grid-row-start: 10;
    grid-row-end: 10;
    height: 130px;
    width: 100%;
  }

  .block7 {
    position: absolute;
    top: -115px;
    bottom: 0;
    left: 10px;
    z-index: 0;
    grid-column-start: 97;
    grid-column-end: 63;
    grid-row-start: 8;
    grid-row-end: 9;
    height: 100px;
    width: 100%;
  }

  .small-block-7 {
    position: absolute;
    top: -115px;
    bottom: 0;
    left: 10px;
    z-index: 0;
    grid-column-start: 97;
    grid-column-end: 63;
    grid-row-start: 8;
    grid-row-end: 9;
    height: 100px;
    width: 100%;
  }
}

.ai-block {
  position: relative;
  padding: 12px;
  border-radius: 8px;
  font-size: 13px;
  border: 1px solid #ced1d5;

  &.ai-01 {
    grid-column: span 23 / span 23;
    grid-row: span 6 / span 6;
    grid-column-start: 1;
    left: 4px;
    top: 4px;
    z-index: 0;

    .right-points {
      top: 46%;
    }
  }

  &.ai-02 {
    grid-column: span 23 / span 23;
    grid-column-start: 21;
    grid-row: span 5 / span 5;
    grid-row-start: 8;
    z-index: 0;
  }

  &.ai-03 {
    grid-column: span 23 / span 23;
    grid-column-start: 49;
    grid-row: span 5 / span 5;
    grid-row-start: 8;
    z-index: 1;

    .right-point {
      top: 43%;
      left: 93%;
    }
  }

  &.ai-04 {
    grid-column: span 23 / span 23;
    grid-column-start: 77;
    grid-row: span 5 / span 5;
    grid-row-start: 8;
    z-index: 1;

    .right-point {
      top: 43%;
      left: 93%;
    }
  }

  &.ai-05 {
    grid-column: span 23 / span 23;
    grid-column-start: 97;
    grid-row: span 6 / span 6;
    top: 8px;
    z-index: 1;

    .left-points {
      top: 51.5%;
    }
  }
}

@media (max-width: ($breakpoint-md + 300px)) {
  .ai-container {
    padding: 0 24px;

    .small-desktop {
      display: block;
    }

    .desktop-block {
      display: none;
    }

    .ai-block {
      position: relative;
      padding: 12px;
      border-radius: 8px;
      font-size: 13px;
      border: 1px solid #ced1d5;

      &.ai-01 {
        grid-column: span 27 / span 27;
        grid-row: span 6 / span 6;
        grid-column-start: 1;
        left: 4px;
        top: 4px;
        z-index: 0;

        .right-points {
          top: 46%;
        }
      }

      &.ai-02 {
        grid-column: span 27 / span 27;
        grid-column-start: 13;
        grid-row: span 5 / span 5;
        grid-row-start: 8;
        z-index: 0;
        top: 10px;

        .left-points {
          display: none;
        }
      }

      &.ai-03 {
        grid-column: span 27 / span 27;
        grid-column-start: 47;
        grid-row: span 5 / span 5;
        grid-row-start: 8;
        z-index: 1;
        top: 10px;

        .right-point {
          top: 43%;
          left: 93%;
        }
      }

      &.ai-04 {
        grid-column: span 27 / span 27;
        grid-column-start: 82;
        grid-row: span 5 / span 5;
        grid-row-start: 8;
        z-index: 1;
        top: 10px;

        .right-point {
          top: 43%;
          left: 93%;
        }
      }

      &.ai-05 {
        grid-column: span 27 / span 27;
        grid-column-start: 92;
        grid-row: span 6 / span 6;
        top: 8px;
        z-index: 1;

        .left-points {
          top: 51.5%;
        }
      }
    }
  }
}

@media (max-width: ($breakpoint-md + 91px)) {
  .ai-container-section {
    margin-top: 60px;

    .mobile-block {
      display: block;
    }

    .ai-container {
      display: none;

      .ai-block {
        display: none;
      }

      .small-desktop {
        display: none;
      }
    }
  }
}
